/* post.module.css */

.markdownContent {
    font-size: 16px;
    line-height: 1.6;  
}

.markdownContent .blockquote {
    border-left: 4px solid #ddd;
    padding-left: 10px; /* Espaciado a la izquierda del bloque de citas */
    color: rgb(211, 23, 101);
    font-family: sans-serif;
}

.markdownContent a:link {
    color: rgb(0, 225, 255);
    text-decoration: underline;
    font-style: italic;
}

.markdownContent a:visited {
    color: purple;
}

.markdownContent h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    line-height: 140%;
}

.markdownContent h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a75eb;
    padding: 0.2rem;
    line-height: 140%;
}

.markdownContent h3 {
    font-size: 1.2rem;
    color: #1ec52c;
    font-weight: bold;
    line-height: 140%;
}

.markdownContent img {
    padding: 0.2rem;
}

/* Estilos para el código de diferencia */
.diff-code {
    background-color: #f0f0f0; /* Fondo del bloque de código de diferencia */
    padding: 10px; /* Espaciado dentro del bloque de código de diferencia */
    border-radius: 5px; /* Bordes redondeados */
}

.diff-code .removed {
    color: red; /* Color del texto eliminado */
}

.diff-code .added {
    color: blue; /* Color del texto añadido */
}

/* Estilos para las alertas */
.markdownContent alert {
    background-color: #ffe3e3; /* Color de fondo de la alerta */
    color: #cc0000; /* Color del texto de la alerta */
    padding: 10px; /* Espaciado dentro de la alerta */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los botones */
.markdownContent btn {
    display: inline-block; /* Mostrar como un bloque en línea */
    padding: 0.5rem 1rem; /* Espaciado interno */
    background-color: #4caf50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Quitar subrayado del texto */
    border: none; /* Quitar borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
}

.markdownContent btn:hover {
    background-color: #45a049; /* Cambiar color de fondo al pasar el ratón */
}

/* Estilos para las tablas */
.markdownContent th,
.markdownContent td {
    padding: 0.5rem;
    border: 1px solid #f88f16;
}

.markdownContent th {
    background-color: #f88f16;
}

.markdownContent br {
    padding: 0.5rem;
}

.code-block {
    margin-top: 1.5rem;
}

.toc-container {
    position: sticky;
    top: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ddd;
}